<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangpan.mapper.OrderMapper">
    <resultMap id="orderMap" type="com.kangpan.model.Order">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="state" jdbcType="INTEGER" property="state" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="createdBy" jdbcType="VARCHAR" property="createdBy" />
        <result column="updatedBy" jdbcType="VARCHAR" property="updatedBy" />
        <association property="customer" javaType="com.kangpan.model.Customer">
            <id column="customer_id" jdbcType="BIGINT" property="id" />
            <result column="account" jdbcType="VARCHAR" property="account" />
            <result column="password" jdbcType="VARCHAR" property="password" />
            <result column="userName" jdbcType="VARCHAR" property="userName" />
            <result column="birthday" jdbcType="VARCHAR" property="birthday" />
            <result column="gender" jdbcType="VARCHAR" property="gender" />
            <result column="phone" jdbcType="BIGINT" property="phone" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
            <result column="createdBy" jdbcType="VARCHAR" property="createdBy" />
            <result column="updatedBy" jdbcType="VARCHAR" property="updatedBy" />
            <collection property="items" ofType="com.kangpan.model.Coffee">
                <id column="coffee_id" jdbcType="BIGINT" property="id" />
                <result column="name" jdbcType="VARCHAR" property="name" />
                <result column="coffeeState" jdbcType="INTEGER" property="state" />
                <result column="stateDes" jdbcType="VARCHAR" property="stateDes" />
                <result column="price" jdbcType="BIGINT" property="price" />
                <result column="coffeeDesc" jdbcType="VARCHAR" property="coffeeDesc" />
                <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
                <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
                <result column="createdBy" jdbcType="VARCHAR" property="createdBy" />
                <result column="updatedBy" jdbcType="VARCHAR" property="updatedBy" />
            </collection>
        </association>
    </resultMap>

    <select id="queryAll" resultMap="orderMap">
        select
        t1.id,
        t1.customer_id,
        t1.coffee_id,
        t1.state,
        t1.create_time,
        t1.update_time,
        t1.createdBy,
        t1.updatedBy,
        t2.id,
        t2.account,
        t2.password,
        t2.userName,
        t2.birthday,
        t2.gender,
        t2.phone,
        t2.create_time,
        t2.update_time,
        t2.createdBy,
        t2.updatedBy,
        t3.id,
        t3.name,
        t3.state as coffeeState,
        t3.price,
        t3.coffeeDesc,
        t3.create_time,
        t3.update_time,
        t3.createdBy,
        t3.updatedBy
        from t_order t1
        left join t_customer t2
        on t1.customer_id = t2.id
        left join t_coffee t3
        on t1.coffee_id = t3.id
    </select>

    <insert id="save" parameterType="com.kangpan.model.Order">
        insert into t_order
        (
        id,
        customer_id,
        coffee_id,
        state,
        create_time,
        update_time,
        createdBy,
        updatedBy
        )
        values
        <foreach collection="customer.items" item="item" index="index" separator=",">
            (
                #{id},
                #{customer.id},
                #{item.id},
                #{state},
                now(),
                now(),
                'system',
                'system'
            )
        </foreach>

    </insert>




</mapper>